{% extends 'base.html.twig' %}

{% block title %}Leaderboard index{% endblock %}

{% block body %}
    <h1>Leaderboard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Total de répétitions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in leaderboard %}
            <tr>
                <td>{{ exercice.prenom }}</td>
                <td>{{ exercice.nom }}</td>
                <td>{{ exercice.totalRepetitions }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}