{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}

<div class="body-wrapper">

    <h1>Qu'est-ce que Genwod?</h1>

    <p>Cette application est conçue pour vous offrir des séances d’entraînement CrossFit personnalisées et dynamiques.</p>
    <p>Que vous soyez débutant ou athlète confirmé, vous pouvez générer des WODs (Workouts of the Day) adaptés à vos besoins :</p>

    <div>

    <ul>
        <p> => Suivre votre progression</p>
        
        <p> => Découvrir de nouveaux exercices</p>
        
        <p> => Interagir avec la communauté en likant et mettre en favoris vos exercices</p>
        
        <p> => Et commenter les WODs que vous avez réalisés.</p>
    </ul>

    <p>Inscrivez-vous pour accéder à toutes les fonctionnalités, y compris la possibilité de sauvegarder vos séances favorites et de visualiser votre historique d’entraînement.</p>
    <p>Rejoignez-nous pour des entraînements motivants et pour atteindre vos objectifs fitness en toute sécurité !</p>
    
    </div>
</div>

{% endblock %}
