<form method="post" action="{{ path('app_admin_like_dislike_delete', {'id': like_dislike.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir effectuer cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ like_dislike.id) }}">
    <button class="btn-primary">Delete</button>
</form>
