{% extends 'base.html.twig' %}

{% block title %}Edit Exercice{% endblock %}

{% block body %}
    <h1>Editer les exercices</h1>

    {{ include('admin_exercice/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_exercice_index') }}">Retour à la liste</a>

    {{ include('admin_exercice/_delete_form.html.twig') }}
{% endblock %}
