
/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
} 

.custom-navbar {
    background-color: #c49a6c
}

/* Body */

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -56px; /* Hauteur de la navbar */
        padding-top: 56px; /* Hauteur de la navbar **/
        /* background-color : skyblue; */
    }

    /* colonne */
    .body-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #000; /* Changez la couleur et l'épaisseur de la bordure comme vous le souhaitez */
        padding: 10px; /* Ajoutez de l'espace à l'intérieur de la bordure */
        margin: 10px; /* Ajoutez de l'espace à l'extérieur de la bordure */
    }

/* colonne description */

    .description-column {
        display: flex;
        flex-direction: column;
    }



