/* Police de caractères */

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap');

* {
    font-family: 'Bitter', sans-serif;
}

/* Reset css*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
    max-width: 100%;
    display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}


/* /////////////////////////////////////////////////////////////////*/

/* Animations des pages */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #DA7635;

} 

.custom-navbar {
    background-color: #afafaf;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}

.custom-navbar-admin {
    background-color: #afafaf;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
    padding-right: 70px;
}

.nav-item {
    padding-right: 5px;
}

.nav-link {
    color : black;
}



/* Entete */
.entete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
}



/* ////////////////////////////////////////////////*/


/* Header */

.main-container{
    display: flex;
    flex-direction: row;

    /* Aligner verticalement */
    align-items: center;
    
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
    justify-content: space-between;
    padding: 0 20px;
    animation: fadeIn 1s ease-out forwards;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.box-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar, .form, .comments {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}



/* ////////////////////////////////////////////////*/


/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Gardez min-height pour s'assurer que le body remplit au moins la hauteur de l'écran */
    padding-top: 70px; /* Réduisez selon la nouvelle hauteur de la navbar */
    padding-bottom: 70px; /* Ajoutez du padding en bas pour compenser la hauteur du footer */
    margin: 0; /* Assurez-vous qu'il n'y a pas de margin externe */
    background-color: #f4f4f4; /* Couleur de fond pour tout le corps */
    background-image: url('/img/wallpaper3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Espace entre les paragraphes */
span {
    margin-bottom: 16px;
}

/* Titre H1 */
h1,h3 {
    text-align: center;
    color: black;
    margin-top: 20px; /*Ajuster en fonction de la hauteur de votre navbar */
    font-size: 2em;
}

.margin-bottom {
    margin-bottom: 10px;
}

/* ////////////////////////////////////////////////*/


/* Styles pour les colonnes */


/* Colonne */

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #afafaf;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre pour un effet 3D */
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.body-wrapper p, .body-wrapper ul li, .body-wrapper h1 {
    margin-bottom: 10px; /* Ajustez l'espacement selon vos besoins */
}

.separateur {
    border: #DA7635 1px solid;
    width: 100%;
}

/* Colonne description */
.description-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////////////////////////*/

/* Boutons */
.btn {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Retire le soulignement des liens */

     /* Ajout d'une transition */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Espace entre les boutons */

.btn-space {
    margin-right: 20px;
}

.btn-primary , .button_label{
    background-color: #25b7ba;
    color: white;
    margin: 5px;
}

.btn-primary:hover{
    background-color: #afafaf;
    opacity: 0.8;

    /* Ajout d'une animation de survol */
    transform: scale(1.1);
    
}

/* Conteneur pour les boutons */
div > div {
    text-align: center;
    margin-top: 10px;
}

/* ////////////////////////////////////////////////*/


/* Styles pour les formulaires et les commentaires */

.form, .comments {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form div, .comments div {
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}


.form div:last-child, .comments div:last-child {
    border-bottom: none;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Centre le texte dans le placeholder */
::placeholder { /* Sélecteur de placeholder pour la plupart des navigateurs modernes */
    text-align: center;
}

/* Mettre l'icone dans le champ de saisie */
.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 30px; /* Ajustez cette valeur en fonction de votre mise en page */
    top: 50%;
    transform: translateY(-50%);
}

/* Agrandir le widget du formulaire */
.large-input {
    width: 120%; /* ou une autre valeur qui convient à votre mise en page */
}


/* ////////////////////////////////////////////////*/


/* Footer */


.footer {
    background-color: #afafaf;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0; /* Ajout pour s'assurer qu'il démarre du bord gauche */
    border-top: 2px solid #DA7635;
}

.footer-container {
    position: relative;
    min-height: 100vh;
}


/* ////////////////////////////////////////////////*/


/* Styles de la table */

.table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.table th,
.table td {
    /* border-bottom: 1px solid #ddd; */
    text-align: center; /* Centre le texte dans les cellules */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding : 20px;
}

.table th {
    background-color: #afafaf;
    color: white;
}

.table tr:last-child th,
.table tr:last-child td {
    border-bottom: none;
}

/* Formulaires */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #afafaf;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre pour un effet 3D */
    border-radius: 10px;
}

.other-elements{
    margin-left: -30px;
}

.condition{
    margin-left: 20px;
}

.large-input {
    border-radius: 5px;
}

.large-input:focus {
    outline: 3px solid lightskyblue;
}

/* ////////////////////////////////////////////////*/

/* Media Queries */

@media (max-width: 990px) { /* Ajustez ce breakpoint selon vos besoins */
    /* Style pour les éléments de la barre de navigation en mode mobile */

    .custom-navbar {
        height: fit-content;
        padding-right: 5px;
    }

    .navbar-nav .nav-item {
        display: block; /* Affiche chaque élément sur sa propre ligne */
        padding-left: 100px;
    }

    .main-container {
        flex-direction: column; /* Empilez les éléments les uns sur les autres */
        gap: 0; /* Enlever le gap */
    }
    .entete {
        padding-right: 10px;
    }
    .content {
        margin-bottom: 20px;
    }
    
}