/* Police de caractères */

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap');

* {
    font-family: 'Bitter', sans-serif;
}

/* Reset css*/

/* Box sizing rules */
*,
*::before,
*::after {
            box-sizing: border-box;
        }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
    max-width: 100%;
    display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}


/* /////////////////////////////////////////////////////////////////*/


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} 

.custom-navbar {
    background-color: #DA7635;
    padding-right: 80px;
    height: fit-content;
}


/* Entete */
.entete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
}


/* ////////////////////////////////////////////////*/


/* Header */

.main-container{
    display: flex;
    flex-direction: row;
    /* Aligner verticalement */
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
    justify-content: space-between;
    padding: 0 20px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* ////////////////////////////////////////////////*/


/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Gardez min-height pour s'assurer que le body remplit au moins la hauteur de l'écran */
    padding-top: 70px; /* Réduisez selon la nouvelle hauteur de la navbar */
    padding-bottom: 70px; /* Ajoutez du padding en bas pour compenser la hauteur du footer */
    margin: 0; /* Assurez-vous qu'il n'y a pas de margin externe */
    background-color: #f4f4f4; /* Couleur de fond pour tout le corps */

}

/* Espace entre les paragraphes */
span {
    margin-bottom: 16px;
}

/* Titre H1 */
h1,h3 {
    text-align: center;
    color: #333;
    margin-top: 20px; /*Ajuster en fonction de la hauteur de votre navbar */
    font-size: 2em;
}


/* ////////////////////////////////////////////////*/


/* Styles pour les colonnes */


/* Colonne */
.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.separateur {
    border: black 1px solid;
    width: 100%;
}

/* Colonne description */
.description-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////////////////////////*/

/* Boutons */
.btn {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Retire le soulignement des liens */
}

.btn-primary {
    background-color: #25b7ba;
    color: white;
    
}

.btn-primary:hover{
    background-color: #333;
    opacity: 0.8;
    
}

/* Conteneur pour les boutons */
div > div {
    text-align: center;
    margin-top: 10px;
}

/* ////////////////////////////////////////////////*/


/* Styles pour les formulaires et les commentaires */
.form, .comments {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form div, .comments div {
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}


.form div:last-child, .comments div:last-child {
    border-bottom: none;
}

/* ////////////////////////////////////////////////*/


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25b7ba;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}


/* ////////////////////////////////////////////////*/


/* Styles de la table */
.table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centre le texte dans les cellules */
}

.table th {
    background-color: #DA7635;
    color: white;
}

.table tr:last-child th,
.table tr:last-child td {
    border-bottom: none;
}


/* ////////////////////////////////////////////////*/

/* Media Queries */


@media (max-width: 932px) { /* Ajustez ce breakpoint selon vos besoins */
    /* Style pour les éléments de la barre de navigation en mode mobile */
    .navbar-nav {
        padding-left: 60px;
    }

    .navbar-nav .nav-item {
        display: block; /* Affiche chaque élément sur sa propre ligne */
    }

    .main-container {
        flex-direction: column; /* Empilez les éléments les uns sur les autres */
        gap: 0; /* Enlever le gap */
    }
    .entete {
        padding-right: 10px;
    }
    .content {
        margin-bottom: 20px;
    }
    
}


