{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}

    <h1>Modifier l'utilisateur</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div>
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>
    <div>
        <a href="{{ path('app_admin_user_delete', {'id': user.id}) }}" class="btn btn-primary">Supprimer</a>
    </div>

{% endblock %}
