{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <div>
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>
{% endblock %}
