{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>

    <div>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour','button_class': 'btn btn-primary'}) }}
    
    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer votre compte? (Cette action est irréversible)');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-danger">Supprimer le compte</button>
    </form>

    <a href="{{ path('app_user_show') }}" class="btn btn-primary" >Retour</a>

    </div>

{% endblock %}
